<ul class="categories">
    {{#categories}}
    <li>
        <a href="#" data-category="{{name}}">
            {{name}}
        </a>
    </li>
    {{/categories}}
</ul>

<div class="tiles">
    {{#items}}
    {{{content}}}
    {{/items}}
</div>
